.form{
    border: 2px solid #000000;
    padding-left: 25px;
    padding-top: 5px;
    width: 500px;
    height: 100%;
    margin: auto;
  
    background-color: burlywood;
    opacity:0.9;
}
body{
    background: url("bah1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    margin-left:50px;
    margin-top:15px;
}
.inpu{
    width: 300px;
}

@media only screen and (max-width:800px){
    .form{
        width: 300px;
        padding: auto;
        opacity: 0.95;
        height: auto;
        margin: auto;
       

    }
    .inpu{
        width: 200px;
    }
    body{
        background: url("bah1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:absolute;
        margin: auto;
        padding: auto;
        margin-top:20px;
    }

    
}
